@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 20px;
  font-family: 'Noto Sans Display';
  font-size: 14px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

input[type="number"] {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid black;
  width: 100%;
}
input[type="number"]:hover {
  border-color: #ff79b0;
}

label {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 24px;
  user-select: none;
  cursor: pointer;
}
label:hover {
  color: #ff79b0;
}

.sep {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 1px;
}

.hint {
  font-size: 13px;
  color: grey;
}

.logo {
  margin-left: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

.calc {
  display: flex;
  flex-direction: column;
}


.calc__title {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.calc__title h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.calc__title p {
  margin-top: 5px;
  color: grey;
  font-size: 13px;
}

.calc__container {
  padding: 20px;
  background-color: #fff;
  border: 1px solid black;
  min-width: 450px;
}

.calc__form-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
}

.calc__form-title--required {
  position: relative;
}

.calc__form-title--required::after {
  content: ' *';
  color: grey;
}

.calc__form-row {
  display: flex;
}
.calc__form-row--end {
  justify-content: flex-end;
}
.calc__form-row--actions {
  padding-top: 10px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.link {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}
.link:hover {
  color: #ff79b0;
}

.action {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid grey;
  background-color: #fafafa;
  font-size: 13px;
  cursor: pointer;
}
.action:hover:not(:disabled) {
  color: #ff79b0;
  border-color: #ff79b0;
}

.action + .action {
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.row--end {
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.select {
  border: 1px solid black;
  height: 32px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    justify-content: flex-start;
  }

  .calc__container {
    min-width: 0;
    width: 100%;
  }
}