* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana;
}

.header {
  height: 80px;
  padding: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #98FB98;
  position: relative;
}

.header::before {
  margin-top: -30px;
  content: '';
  background-image: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 16px;
  height: 60px;
  width: 60px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}

.card-container {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  margin: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-item h3,
.card-item p {
  margin: 0;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 300px;
  width: 100%;
}
.card-image img {
  height: 250px;
}
.card-title {
  padding-top: 16px;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
}
.card-description {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  font-weight: 400;
}
.card-price {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #e43838;
}
.card-button {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 0;
  background-color: #e43838;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.spacer {
  flex: 1;
}