* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 80px;
  font-family: Verdana;
}

.header {
  padding: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #98FB98;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.header::before {
  margin-top: -30px;
  content: '';
  background-image: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 16px;
  height: 60px;
  width: 60px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

.links {
  padding: 16px;
  background-color: limegreen;
  text-align: center;
  font-style: italic;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.links h3 {
  margin-top: 0;
}

.links a {
  line-height: 24px;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.content h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 32px;
  position: static;
}

.list {
  padding-left: 0;
}

.anchor,
.name {
  padding-left: 16px;
  padding-right: 16px;
  line-height: 48px;
}

.anchor {
  font-size: 18px;
  font-weight: 600;
  position: sticky;
  top: 80px;
  background-color: yellow;
}

.anchor::after {
  margin-top: -16px;
  background-image: url(img/flower.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  right: 16px;
  top: 50%;
  height: 32px;
  width: 32px;
}

.footer {
  height: 600px;
  background-color: grey;
  width: 100%;
  position: relative;
}

.footer::before {
  margin-top: -16px;
  margin-left: -16px;
  background-image: url(img/flower.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  height: 32px;
  width: 32px;
}