@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 82px;
  background-color: #1B2473;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  color: #787878;
}

.form {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #FFFFFF;
  width: 600px;
  border-radius: 20px;
  padding: 26px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.form__row {
  padding-top: 13px;
  width: 100%;
}

.form__col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label {
  padding-left: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  align-self: flex-start;
}

.form__input {
  margin-top: 3px;
  padding: 0 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #787878;
  color: #787878;
  position: relative;
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
}

.form__input::placeholder {
  color: #ccc;
}

.form__checkbox {
  margin-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form__checkbox__input {
  margin-right: 10px;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.form__checkbox__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #787878;
}

.link {
  text-decoration: underline;
  color: #787878;
}

.form__required {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form__required::before {
  content: '*';
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: -15px;
}

.form__required--checkbox::before {
  top: 2px;
}

.form__checkbox-mark {
  margin-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #787878;
  border-radius: 7px;
  min-height: 24px;
  height: 24px;
  min-width: 24px;
  width: 24px;
}

.form__checkbox__input:checked+.form__checkbox-mark::after {
  content: '✓';
  position: absolute;
  color: #1A226B;
  top: 2px;
  left: 6px;
}

.form__button {
  margin-top: 52px;
  padding: 18px 55px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1A226B;
  border: 0;
  border-radius: 10px;
}

.message {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  display: none;
  width: 100%;
}

.invalid {
  color: #CB2424;
}
.invalid input,
.invalid .form__checkbox-mark {
  border-color: #CB2424;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }

  .form {
    height: 100%;
    width: 100%;
  }

  .form__title {
    margin-bottom: 2px;
    font-size: 60px;
  }

  .form__row {
    padding-top: 11px;
  }

  .form__label {
    font-size: 24px;
    line-height: 24px;
  }

  .form__checkbox {
    margin-top: 19px;
  }

  .form__checkbox-mark {
    min-height: 32px;
    height: 32px;
    min-width: 32px;
    width: 32px;
  }

  .form__checkbox__label {
    font-size: 18px;
  }

  .form__button {
    padding: 32px 64px;
    font-size: 32px;
  }
}